body { 
  margin: 0;
}

.live {
  font-family: OleoScript-Bold;
  font-size: 25px;
  text-decoration: none;
  color: #00000;
  margin: 13px 10px 0 20px;
}

.live:hover {
  color: #FF0000;
}

.navcontainer {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.nav {
  font-family: Helvetica;
  font-size: 23px;
  text-decoration: none;
  color: #00000;
  letter-spacing: -1px;
  margin: 20px 10px 0 20px;
}

.nav:hover {
  color: #33beff;
}

.hkanimation {
  width: 20%;
  margin: auto;
  display: block;
}

.box	 {
  z-index: -1;
  width: 30%;
}

.iframecontcont {
  padding-left: 15px;
  padding-right: 15px;
}

.iframecontainer {
  padding-top: 56.25%;
  background-color: #ccc;
  position: relative;
  margin: auto;
  max-width: 1050px;
  }

.iframe {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  display: block;
  border: none;
 } 

.gifs {
  display: flex;
  position: relative;
  margin-top: 30px;
}

.Heading {
  width: 100%;
}

.flowers {
  position: absolute;
  width: 15%;
  top: 40%;
  z-index: -1;
}

.CD {
  position: absolute;
  width: 8%;
  left: 65%;
  top: 53.5%;
  z-index: -1;
}

.PAC {
  position: absolute;
  width: 20%;
  z-index: -2;
  left: 80%;
  top: 50%;
}

.copyright {
  color: #00000;
  text-align: center;
  display: inline-block;
  font-family: UbuntuCondensed-Regular;
  font-size: 11px;
  margin: 90px 0 50px 0;
  width: 100%;
  z-index: 1;
}

@font-face { font-family: HKGrotesk-regular; src: url('fonts/HKGrotesk-regular.TTF'); } 
@font-face { font-family: HKGrotesk-medium; src: url('fonts/HKGrotesk-medium.TTF'); } 
@font-face { font-family: HKGrotesk-bold; src: url('fonts/HKGrotesk-bold.TTF'); } 
@font-face { font-family: HKGrotesk-bold; src: url('fonts/Spectral-SemiBold.TTF'); } 
@font-face { font-family: UbuntuCondensed-Regular; src: url('fonts/UbuntuCondensed-Regular.TTF'); } 
@font-face { font-family: OleoScript-Bold; src: url('fonts/OleoScript-Bold.TTF'); } 
@font-face { font-family: LexendPeta-Regular; src: url('fonts/LexendPeta-Regular.TTF'); } 

 .hkanimation {
  width: 30%;
  margin: 50px auto 0;
}

 .navcontainer {
  width: 100%;
  text-align: center;
}
}