@font-face { font-family: UbuntuCondensed-Regular; src: url('fonts/UbuntuCondensed-Regular.ttf'); } 
@font-face { font-family: Helvetica; src: url('fonts/Helvetica.ttf'); } 
@font-face { font-family: OleoScript-Bold; src: url('fonts/OleoScript-Bold.ttf'); } 

body { 
  margin: 0;
}

.navcontainer {
  top: 15px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.live {
  font-family: OleoScript-Bold, sans-serif;
  font-size: 25px;
  text-decoration: none;
  color: #000000;
  margin: 14px 10px 0 20px;
}

.live:hover {
  color: #FF0000;
}

.nav {
  font-family: Helvetica, sans-serif;
  font-size: 23px;
  text-decoration: none;
  color: #000000;
  letter-spacing: -1px;
  margin: 20px 10px 0 20px;
}

.nav:hover {
  color: #33beff;
}

.hkanimation {
  width: 20%;
  margin: auto;
  display: block;
}

.box	 {
  z-index: -1;
  position: absolute;
  width: 30%;
  right: 10%;
  top: 0;
  transform: translateY(-50%);
  max-width: 240px;
}

.iframecontcont {
  padding: 0 15px;
  max-width: 800px;
  margin: auto;
}

.iframecontainer {
  margin: 50px auto 0;
  padding-top: 56.25%;
  position: relative;
}

.iframe {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  display: block;
  border: none;
} 

.gifs {
  position: relative;
  margin: 30px auto 0;
  max-width: 1075px;
}

.Heading {
  width: 90%;
  margin: auto;
  display: block;
}

.flowers {
  position: absolute;
  width: 15%;
  top: 40%;
  left: 0;
  z-index: -1;
}

.CD {
  position: absolute;
  width: 8%;
  left: 65%;
  top: 53.5%;
  z-index: -1;
}

.PAC {
  position: absolute;
  width: 20%;
  z-index: -2;
  left: 80%;
  top: 50%;
}

.copyright {
  color: #000000;
  text-align: center;
  display: inline-block;
  font-family: UbuntuCondensed-Regular, sans-serif;
  font-size: 12px;
  margin: 90px 0 50px 0;
  width: 100%;
  z-index: 1;
}

.hkanimation {
  width: 30%;
  margin: 80px auto 0;
  max-width: 240px;
}

.navcontainer {
  width: 100%;
  text-align: center;
}

@media (max-width: 600px) {
  .live {
    font-size: 16px;
  }
  .nav {
    font-size: 15px;
  }
}
